{% extends "base_simple.html" %}

{% block block-main-body %}
    <h3>Password reset</h3>
    <form class="box" action="" method="post">
    	{% csrf_token %}
	    {% if form.errors %}
	  		<p>{{ form.non_field_errors }}</p>
	    {% endif %}
		<p style="padding-bottom: 20px">
		    <label>{{ form.email.label_tag }}<br>{{ form.email}} {{form.email.errors}}
	    </p>
	    <p class="submit">
	    	<input type="submit" value="Reset Password" class="button" />
	    </p>
	</form>
	<p id="nav"><a href="/accounts/login">Login</a></p>
{% endblock %}