{% extends "base.html" %}

{% block main_body_external %}
<div class="center">
	<div id="changePassword">
		<form action="" method="post">
			{% csrf_token %}
		    <h2>Change password</h3>
		    {% if form.errors %}
		   		<p style="color:red">Please correct the error{{form.errors|pluralize }} below.</p>
		   		<p>{{ form.non_field_errors }}</p>
		    {% endif %}
				<table id="passwordChange" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;">
				<tr>
					<td>
		               <p style="padding: 10px 0px 20px 0px">
			               {{ form.old_password.label_tag }}<br>{{ form.old_password }} {{form.old_password.errors}}
		               </p>
		               <p style="padding-bottom: 20px">
							{{ form.new_password1.label_tag }}<br>{{ form.new_password1 }} {{form.new_password1.errors}}
		               </p>
		               <p style="padding-bottom: 20px">
							{{ form.new_password2.label_tag }}<br>{{ form.new_password2 }} {{form.new_password2.errors}}
		               </p>
		               <p class="submit">
		                   <input type="submit" value="Save" class="button" />
		               </p>
		           </td>
			</tr>
			</table>
		</form>
        {% block form_footer %}
		{% endblock %}		
    </div>
</div>
{% endblock %}
