{% extends "base_simple.html" %}

{% block block-main-body %}
    <h3>MyWish password reset form</h3>
    <form class="box" action="" method="post">
    	{% csrf_token %}
	    {% if form.errors %}
 		<p>{{ form.non_field_errors }}</p>
	    {% endif %}
        <p style="padding-bottom: 0px">
		{{ form.new_password1.label_tag }}<br>{{ form.new_password1 }} {{form.new_password1.errors}}
        </p>
        <p style="padding-bottom: 0px">
		{{ form.new_password2.label_tag }}<br>{{ form.new_password2 }} {{form.new_password2.errors}}
        </p>
        <p class="submit">
            <input type="submit" value="Save" class="button" />
        </p>
     </form>
    <a href="/accounts/login">Login</a>
{% endblock %}
