<section id="bottom-b" class="grid-block"><div class="grid-box width25 grid-h" style="width: 245px; "><div class="module mod-line  deepest" style="min-height: 136px; ">

		<h3 class="module-title">Bottom B</h3>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-line</code>		
</div></div><div class="grid-box width25 grid-h" style="width: 245px; "><div class="module mod-line  deepest" style="min-height: 136px; ">

		<h3 class="module-title">Bottom B</h3>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-line</code>		
</div></div><div class="grid-box width25 grid-h" style="width: 245px; "><div class="module mod-line  deepest" style="min-height: 136px; ">

		<h3 class="module-title">Bottom B</h3>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-line</code>		
</div></div><div class="grid-box width25 grid-h" style="width: 245px; "><div class="module mod-line  deepest" style="min-height: 136px; ">

		<h3 class="module-title">Bottom B</h3>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-line</code>		
</div></div></section>