<section id="bottom-a" class="grid-block">
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box mod-box-header mod-box-header-black deepest" style="min-height: 174px; ">
		<h3 class="module-title"><span class="icon icon-download"></span>Discovery</h3>
		<div>
			Discover the things you like!<br><code>style-box header-black icon-download</code>
		</div>
	</div>
</div>
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box mod-box-header mod-box-header-color1 deepest" style="min-height: 174px; ">
		<h3 class="module-title"><span class="icon icon-twitter"></span>Organize</h3>
		<div>
			Organize your wishes! <br><code>style-box header-color1 icon-twitter</code>
		</div>
	</div>
</div>
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box mod-box-header mod-box-header-color2 deepest" style="min-height: 174px; ">
		<h3 class="module-title"><span class="icon icon-mail"></span>Get it!</h3>
		<div>
			Get it at right time and right price! <br<code>style-box header-color2 icon-mail</code>
		</div>
	</div>
</div>
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box mod-box-header mod-box-header-color1 deepest" style="min-height: 174px; ">
		<h3 class="module-title"><span class="icon icon-twitter"></span>Share it!</h3>
		<div>
			Isn't it nice that somebody grants your wish! Share your wish and dream comes true!
		</div>
	</div>
</div>
</section>