<section id="content" class="grid-block">
<div id="system">
	<article class="item">
		<header>
			<h1 class="title">Module Variations</h1>
		</header>
		<div class="content clearfix">
			{% block content %}
			<p>This theme comes with different module styles, badges and icons. For each module you can pick a style and combine it with an icon or badge to create your own unique look. Here is a list of the available options:</p>
			<p><t class="odd" r=""></t></p>
			<table class="zebra">
			<tbody>
				<tr class="odd">
					<td class="bold">Styles</td>
					<td>Box, Line</td>
					</tr>
				<tr>
					<td class="bold">Color</td>
					<td>White, Color1, Color2</td>
				</tr>
				<tr>
					<td class="bold">Header</td>
					<td>Black, Color1, Color2</td>
				</tr>
				<tr>
					<td class="bold">Badges</td>
					<td>Hot, New, Free, Top</td>
				</tr>
				<tr class="odd">
					<td class="bold">Icons</td>
					<td>Download, Twitter, Mail, Bubble, Login, Cart</td>
				</tr>
			</tbody>
			</table>
			{% endblock %}
		</div>
	</article>
</div>
</section>