<aside id="sidebar-a" class="grid-box" style="min-height: 751px; ">
<div class="grid-box width100 grid-v">
	<div class="module mod-box mod-box-header mod-box-header-color1 deepest">
		<h3 class="module-title">Sub Menu</h3>
		<ul class="menu menu-sidebar">
			<li class="level1 item72"><a href="index.php" class="level1"><span>Home</span></a></li>
			<li class="level1 item73 parent"><span class="level1 parent"><span>Web Design</span></span>
			<div style="display: none; height: 0px; ">
				<ul class="level2">
					<li class="level2 item75"><a href="http://localhost/wordpress/?cat=6" class="level2"><span>Icons</span></a></li>
					<li class="level2 item76"><a href="http://localhost/wordpress/?cat=7" class="level2"><span>Themes</span></a></li>
				</ul>
			</div>
			</li>
			<li class="level1 item74 parent"><span class="level1 parent"><span>Web Development</span></span>
			<div style="display: none; height: 0px; ">
				<ul class="level2">
					<li class="level2 item78"><a href="http://localhost/wordpress/?cat=9" class="level2"><span>Theme Framework</span></a></li>
					<li class="level2 item77"><a href="http://localhost/wordpress/?cat=8" class="level2"><span>Content Management</span></a></li>
				</ul>
			</div>
			</li>
		</ul>
	</div>
</div>
<div class="grid-box width100 grid-v">
	<div class="module mod-box mod-box-header mod-box-header-color2 deepest">
		<h3 class="module-title">Sidebar A</h3>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box header-color2</code>
		</div>
	</div>
</div>
<div class="grid-box width100 grid-v">
	<div class="module mod-box mod-box-header mod-box-header-black deepest">
		<h3 class="module-title">Sidebar A</h3>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box header-black</code>
		</div>
	</div>
</div>
</aside>