<aside id="sidebar-b" class="grid-box" style="min-height: 751px; "><div class="grid-box width100 grid-v"><div class="module mod-box mod-box-color1 mod-box-header mod-box-header-black  deepest">

		<h3 class="module-title">Sidebar B</h3>	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box color-color1 header-black</code></div>		
</div></div><div class="grid-box width100 grid-v"><div class="module mod-box mod-box-color2 mod-box-header mod-box-header-black  deepest">

		<h3 class="module-title">Sidebar B</h3>	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box color-color2 header-black</code></div>		
</div></div><div class="grid-box width100 grid-v"><div class="module mod-box mod-box-white mod-box-header mod-box-header-black  deepest">

		<h3 class="module-title">Sidebar B</h3>	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box color-white header-black</code></div>		
</div></div></aside>