<section id="top-a" class="grid-block">
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box deepest" style="min-height: 157px; ">
		<div class="badge badge-hot">
		</div>
		<h3 class="module-title">Top A</h3>
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box badge-hot</code>
	</div>
</div>
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box mod-box-color1 deepest" style="min-height: 157px; ">
		<div class="badge badge-new">
		</div>
		<h3 class="module-title">Top A</h3>
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box color-color1 badge-new</code>
	</div>
</div>
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box mod-box-color2 deepest" style="min-height: 157px; ">
		<div class="badge badge-free">
		</div>
		<h3 class="module-title">Top A</h3>
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box color-color2 badge-free</code>
	</div>
</div>
<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box mod-box-white deepest" style="min-height: 157px; ">
		<div class="badge badge-top">
		</div>
		<h3 class="module-title">Top A</h3>
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <code>style-box color-white badge-top</code>
	</div>
</div>
</section>