<!DOCTYPE html> 
<html> 
	<head> 
	<title>My Wish</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

{% block header %}
	<div data-role="header">
		<h1>My Wish</h1>
		<a href="/" class="ui-btn-right" data-icon="home" data-iconpos="notext" 
           data-direction="reverse">Home</a>
	</div><!-- /header -->
{% endblock %}

{% block content %}
	<div data-role="content">	
		<p>Hello world</p>		
	</div><!-- /content -->
{% endblock %}

{% block footer %}
	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
{% endblock %}
</div><!-- /page -->

</body>
</html>