<div id="input">
  <h2>What's your wish?</h2>
  <p><label for="description">Description</label><textarea id="description"></textarea></p>
  <p><label for="link">Link</label><input id="link"></input></p>
  <button class="wish">Add wish</button>
</div>
<div>
	<h3>Wishes</h3>
	<section id="wishes" class="grid-block">
	</section>
</div>