{% extends "base.html" %}

{% block content %}
<ul data-role="listview" data-inset="true" data-filter="true">
	<li><a href="#">Acura</a></li>
	<li><a href="#">Audi</a></li>
	<li><a href="#">BMW</a></li>
	<li><a href="#">Cadillac</a></li>
	<li><a href="#">Ferrari</a></li>
</ul>

<form>
   <label for="slider-0">Input slider:</label>
   <input type="range" name="slider" id="slider-0" value="25" min="0" max="100"  />
</form>

<a href="/" data-transition="pop">I'll pop</a>

<a href="#" data-role="button" data-icon="star" data-theme="a">Button</a>
<a href="#" data-role="button" data-icon="star" data-theme="b">Button</a>
<a href="#" data-role="button" data-icon="star" data-theme="c">Button</a>
{% endblock %}