<div class="grid-box width25 grid-h" style="width: 245px; ">
	<div class="module mod-box deepest" style="min-height: 157px; ">
		<div class="badge badge-hot">
		</div>
		<h4 class="module-title">{{ description }}</h4>
		<div>
			<img class="icon" src="{{ photo }}" alt="Cessna172" />
			<a class="description" href="{{ link }}" target="_blank">{{ description }}</a>
		</div>
		<div>
			<abbr class="timestamp">
				<a class="permalink" href="/{{id}}/">{{ timestamp}}</a>
			</abbr>
		</div>
	</div>
</div>
