<img class="icon" src="{{ photo }}" alt="Cessna172" />
<a class="description" href="{{ link }}" target="_blank">{{ description }}</a>
<button class="likeit">Like it</button>
<br>
<abbr class="timestamp">
  <a class="permalink" href="/{{id}}/">{{ timestamp }}</a>
</abbr>
